.form__input-container{
    margin: 0;
    padding: 0;
    border: none;
    margin-top: 54px;
    margin-bottom: 48px;
}

@media screen and (max-width: 424px) {
    .form__input-container{
        margin-top: 75px;
        margin-bottom: 45px;
    }
}