.card__like{
    position: absolute;
    right: 20px;
    bottom: 30px;
    transition: opacity .2s linear;
    background-image: url(../../../images/places/Like.svg);
    width: 22px;
    height: 19px;
}

.card__like:hover{
    opacity: .5;
}

.card__like:active{
    background-image: url(../../../images/places/Like_active.svg);
    opacity: 1;
}