.profile__button_type_edit{
    padding: 7px;
    align-self: end;
    margin-bottom: 9px;
}

@media screen and (max-width: 425px) {
    .profile__button_type_edit{
        padding: 5.25px;
        margin-bottom: 6px;
        margin-left: 10px;
    }
}