.card{
    /*background-image: url(../../images/places/kirill-pershin-1088404-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: contain;*/
    background-color: white;
    height: 361px;
    border-radius: 10px;
    position: relative;
}